PROJECT_NAME="DevOps Agentic Network"

# GitHub Bilgileri
GITHUB_TOKEN="buraya_githubdan_aldigin_ghp_ile_baslayan_tokeni_yaz"

# Jira Bilgileri
JIRA_API_TOKEN="buraya_jiradan_aldigin_api_tokeni_yaz"
JIRA_DOMAIN="https://senin-jira-adın.atlassian.net"
JIRA_USER_EMAIL="jira_hesabını_açtığın_eposta_adresin@example.com"

# Şimdilik boş kalabilir (Sonraki aşamalar için)
LLM_API_KEY="mock_key"